# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea
cmake-build-debug
CMakeLists.txt
!resources/vm_champs/asm
!resources/binaries/asm
!resources/binaries/corewar
!tests/asm
.cache_exists
text
*cor
*.cor
*cor
out1
out2
*.DS_Store
!tests/vm/error/zork_lt_size.s.cor
!tests/vm/error/zork_mt_size.s.cor
.tally
